.container{
    border: 1px solid #000;
    width: 750px;
    margin: auto;
    margin-top: 120px;
    padding: 20px;
}
#input{
    height: 36px;
    width: 600px;
    padding: 10px;
}

#button{
    font-size: 25px;
    background-color: #872B57;
    border: none;
    width: 58px;
    height: 58px;
    color: #fff;
}

.inserir-tarefa {
    display: flex;
    align-items: center;
    gap: 8px;
}

.delete {
    border: none;
    background-color: rgba(121, 8, 55, 0.808);
    color: #fff;
}

.tarefa {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

